streamlit==1.38.0
langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-groq==0.1.9
langchain-huggingface==0.0.3
python-dotenv==1.0.1
pypdf==4.3.1
pandas==2.2.2
huggingface-hub==0.24.6
sentence-transformers==3.0.1


